; Credentials 

[credential "https://github.com"]
  helper = 
  helper = !/run/current-system/sw/bin/gh auth git-credential

[credential "https://gist.github.com"]
  helper = 
  helper = !/run/current-system/sw/bin/gh auth git-credential

; Behaviour

[init]
  defaultBranch = main

[user]
  name = Gerson Ferreira
  email = gersonfaneto.dev@gmail.com
  signingkey = B187FAB663E5FC99

[commit]
  verbose = true
  gpgSign = true

[core]
  autocrlf = input
  whitespace = error
  fsync = none
  compression = 9
  preloadindex = true
  excludesFile = ~/.gitignore

[advice]
  addEmptyPathSpec = false
  pushNonFastFoward = false
  statusHints = false

[blame]
  coloring = highlightRecent
  date = relative

[diff]
  context = 3
  renames = copies
  interHunkContext = 10

[log]
  abbrevCommits = true
  graphColors = blue,yellow,cyan,magenta,green,red

[status]
  branch = true
  showStash = true
  showUntrackedFiles = all

[pager]
  diff = diff-so-fancy | $PAGER
  branch = false

[interactive]
  diffFilter = diff-so-fancy --patch
  singleKey = true

[push]
  default = current
  ; gpgSign = true
  followTags = true
  autoSetupRemote = true

[pull]
  default = current
  ; rebase = true

[submodule]
  fetchJobs = 16

[rebase]
  autoStash = true
  missingCommitsCheck = warn

[merge]
  tool = vimdiff

[mergetool]
  keepBackup = false

[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $MERGED $REMOTE +'wincmd l'

; Colors

[color "decorate"]
  HEAD = red
  branch = blue
  tag = yellow
  remoteBranch = magenta

[color "blame"]
  highlightRecent = black bold,1 year ago,white,1 month ago,default,7 days ago,blue

[color "diff"]
  meta       = default bold
  frag       = magenta
  context    = default
  whitespace = yellow reverse

[color "branch"]
  current  = magenta
  local    = default
  remote   = yellow
  upstream = green
  plain    = blue

; Thirdy-Party

[diff-so-fancy]
  markEmptyLines = false

; URL Shorthand's

[url "git@github.com:gersonfaneto/"]
  insteadOf = "me:"

[url "git@github.com:"]
  insteadOf = "gh:"

; Aliases

[alias]
  it = "!git init && git commit -m 'Ready... Set... Go!' --allow-empty"

  ci = commit
  cm = commit --message
  ce = commit --amend
  cj = commit --amend --no-edit

  br = branch
  ba = branch --all
  bd = branch --delete
  bp = branch -D

  df = "!git diff --output-indicator-new=' ' --output-indicator-old=' '"
  ds = "!git diff --output-indicator-new=' ' --output-indicator-old=' ' --cached"
  dv = difftool -t vimdiff -y

  co = checkout
  cb = checkout -b
  cf = checkout --force

  sw = switch
  sc = switch --create

  ad = add
  aa = add --all

  st = status
  ss = status --short
  si = "!sh -c 'nvim +\"Git|only\"'" # [S]tatus [I]nteractive

  tr = clean -f -d -x
  ti = clean -f -d -x -i

  ft = fetch
  fa = fetch --all
  fp = fetch --prune

  pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
  pr = "!git pull origin $(git rev-parse --abbrev-ref HEAD) --rebase"

  ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
  pf = "!git push origin $(git rev-parse --abbrev-ref HEAD) --force"
  pd = "!git push origin $(git rev-parse --abbrev-ref HEAD) --delete"

  cl = clone
  cs = clone --depth=1
  cr = clone --recursive
  cn = clone --filter=blob:none

  up = "!sh -c 'git fa && git pl || git pr'"

  rr = rebase
  ri = rebase --interactive
  rc = rebase --continue
  ra = rebase --abort
  rp = rebase --edit-todo

  wt = worktree
  wl = worktree list
  wa = worktree add
  wr = worktree remove

  rt = restore
  rs = restore --staged

  rk = shortlog --summary --numbered --email
  rd = shortlog --summary --numbered --email --since 'midnight'

  lg = log --name-status --pretty=format:'%C(magenta)%h %C(default) %an  %ar%C(blue)  %D%n%s%n'
  la = log --name-status --pretty=format:'%C(magenta)%h %C(default) %an  %ar%C(blue)  %D%n%s%n' @{u}..
  lb = log --name-status --pretty=format:'%C(magenta)%h %C(default) %an  %ar%C(blue)  %D%n%s%n' ..@{u}
  ld = "!sh -c 'git lg --reverse --no-merges --branches=* --date=local --after=\"yesterday 11:59PM\" --author=\"`git config --get user.name`\"'"

  vb = "!r() { refbranch=${1:-$(git rev-parse --abbrev-ref HEAD)} count=$2; git for-each-ref --sort=-committerdate refs/heads --format='%(refname:short)|%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' --color=always --count=${count:-20} | while read line; do branch=$(echo \"$line\" | awk 'BEGIN { FS = \"|\" }; { print $1 }' | tr -d '*'); ahead=$(git rev-list --count \"${refbranch:-origin/main}..${branch}\"); behind=$(git rev-list --count \"${branch}..${refbranch:-origin/main}\"); colorline=$(echo \"$line\" | sed 's/^[^|]*|//'); echo \"$ahead|$behind|$colorline\" | awk -F'|' -vOFS='|' '{$5=substr($5,1,70)}1' ; done | ( echo \"ahead|behind|branch|updated|message|author\n\" && cat) | column -ts'|';}; r"
  vr = "!r() { refbranch=${1:-$(git rev-parse --abbrev-ref HEAD)} count=$2; git for-each-ref --sort=-committerdate refs/remotes/origin --format='%(refname:short)|%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' --color=always --count=${count:-20} | while read line; do branch=$(echo \"$line\" | awk 'BEGIN { FS = \"|\" }; { print $1 }' | tr -d '*'); ahead=$(git rev-list --count \"${refbranch:-origin/main}..${branch}\"); behind=$(git rev-list --count \"${branch}..${refbranch:-origin/main}\"); colorline=$(echo \"$line\" | sed 's/^[^|]*|//'); echo \"$ahead|$behind|$colorline\" | awk -F'|' -vOFS='|' '{$5=substr($5,1,70)}1' ; done | ( echo \"ahead|behind|branch|updated|message|author\n\" && cat) | column -ts'|';}; r"

  gr = "!r() { git rev-list --all | xargs git grep $@ | fzf; }; r"

  ln = "!echo $(git config remote.origin.url | sed -Ee 's!(git@|git://|ssh://)!https://!' -e 's!:([^/])!/\\1!' | sed -e 's/.git$//')"
  op = "!$(command -v open || command -v xdg-open) $(git ln)"

; vim:ft=gitconfig:
