; Credentials 

[credential "https://github.com"]
  helper = 
  helper = !/run/current-system/sw/bin/gh auth git-credential

[credential "https://gist.github.com"]
  helper = 
  helper = !/run/current-system/sw/bin/gh auth git-credential

; Behaviour

[init]
  defaultBranch = main

[user]
  name = Gerson Ferreira
  email = gersonfaneto.dev@gmail.com
  signingkey = 70B187D6EEF461CF

[commit]
  verbose = true
  gpgSign = true

[core]
  autocrlf = input
  whitespace = error
  fsync = none
  compression = 9
  preloadindex = true
  commentChar = ";"

[advice]
  addEmptyPathSpec = false
  pushNonFastFoward = false
  statusHints = false

[blame]
  coloring = highlightRecent
  date = relative

[diff]
  context = 3
  renames = copies
  interHunkContext = 10

[log]
  abbrevCommits = true
  graphColors = blue,yellow,cyan,magenta,green,red

[status]
  branch = true
  showStash = true
  showUntrackedFiles = all

[pager]
  diff = diff-so-fancy | $PAGER
  branch = false

[interactive]
  diffFilter = diff-so-fancy --patch
  singleKey = true

[push]
  default = current
  ; gpgSign = true
  followTags = true
  autoSetupRemote = true

[pull]
  default = current
  rebase = true

[submodule]
  fetchJobs = 16

[rebase]
  autoStash = true
  missingCommitsCheck = warn

[merge]
  tool = vimdiff

[mergetool]
  keepBackup = false

[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $MERGED $REMOTE +'wincmd l'

; Colors

[color "decorate"]
  HEAD = red
  branch = blue
  tag = yellow
  remoteBranch = magenta

[color "blame"]
  highlightRecent = black bold,1 year ago,white,1 month ago,default,7 days ago,blue

[color "diff"]
  meta       = default bold
  frag       = magenta
  context    = default
  whitespace = yellow reverse

[color "branch"]
  current  = magenta
  local    = default
  remote   = yellow
  upstream = green
  plain    = blue

; Thirdy-Party

[diff-so-fancy]
  markEmptyLines = false

; URL Shorthand's

[url "git@github.com:gersonfaneto/"]
  insteadOf = "me:"

[url "git@github.com:"]
  insteadOf = "gh:"

; Filters

[filter "okularpartrc"]
  smudge = cat
  clean = sed \
    -e '/^\\[Main View\\]/,/^$/d' \
    -e '/^\\[Nav Panel\\]/,/^$/d'

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

; Aliases

[alias]
  it = "!git init && git commit -m 'Ready... Set... Go!' --allow-empty"

  ci = commit
  cm = commit --message
  ca = commit --amend
  ce = commit --amend --no-edit

  br = branch
  ba = branch --all
  bd = branch --delete
  bD = branch -D

  df = "!git diff --output-indicator-new=' ' --output-indicator-old=' '"
  ds = df --cached

  co = checkout
  cb = checkout --branch
  cf = checkout --force

  sw = switch
  sc = switch --create

  aa = add --all

  st = status
  ss = status --short

  ft = fetch
  fa = fetch --all
  fp = fetch --prune

  pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
  pr = "!git pull origin $(git rev-parse --abbrev-ref HEAD) --rebase"

  ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
  pf = "!git push origin $(git rev-parse --abbrev-ref HEAD) --force"
  pd = "!git push origin $(git rev-parse --abbrev-ref HEAD) --delete"

  cl = clone
  cs = clone --depth=1
  cr = clone --recursive
  cn = clone --filter=blob:none

  rr = rebase
  ri = rebase --interactive
  rc = rebase --continue
  ra = rebase --abort
  rt = rebase --edit-todo

  wt = worktree
  wl = worktree list
  wa = worktree add
  wr = worktree remove

  rank = shortlog --summary --numbered --email

  lg = log --graph --pretty=format:'%C(magenta)%h %C(default) %an  %ar%C(blue)  %D%n%s%n'
  la = log --all --graph --pretty=format:'%C(magenta)%h %C(default) %an  %ar%C(blue)  %D%n%s%n'

  url = "!git config --get remote.origin.url | sed -e 's/:/\\//g' -e 's/ssh\\/\\///g' -e 's/git@/https:\\/\\//g'"

; vim:ft=gitconfig:
