* {
    background:     #0B0806;
    // background-alt: #2F2B2A;
    background-alt: #0b0806;
    foreground:     #A19782;
    selected:       #C1AB83;
    active:         #897F5A;
    urgent:         #A64848;
}
