directory: ~/Music/

library: ~/Music/.beets/library.db

import:
  write: yes
  copy: yes
  move: no
  resume: ask
  incremental: yes
  quiet_fallback: skip
  log: ~/Music/.beets/beet.log

paths:
  default: Artists/$artist/$album%aunique{} ($year)/$track $title
  singleton: Singles/$artist - $title
  comp: Compilations/$album%aunique{} ($year)/$track $title
  albumtype:soundtrack: Soundtracks/$album ($year)/$track $title

lastgenre:
  count: 2
  force: yes

convert:
  auto: no
  dest: ~/Music/.beets/converted
  opts: -ab 320k -ac 2 -ar 48000
  max_bitrate: 320
  never_convert_lossy_files: yes

plugins:
  - inline
  - convert
  - duplicates
  - edit
  - export
  - web
  - fetchart
  - embedart
  - lastgenre
  - thumbnails
  - albumtypes
  - musicbrainz
  - deezer
  - spotify
